@each $color, $value in $theme-colors {

    @if $color == success {
        .btn-#{$color} {
            color: $wine;
        }
    }
}

[class*="btn-"] {
    @include type-font-title;

    &:hover, &:focus {
        color: $ocher;
        padding-left: $input-btn-padding-x + $input-btn-padding-y;
        padding-right: $input-btn-padding-x + $input-btn-padding-y;
        background-color: $gray-800;
        border-color: $ocher;
    }
}



// $first-color: if(true, coral, black);
// $second-color: if(false, black, cornflowerblue);
// $third-color: if(4 > 2, papayawhip, black);
// p:nth-of-type(1) {
//   background: $first-color;
//   @if (lightness($first-color) > 75%) {
//       color: black;
//     } @else {
//       color: white;
//    }
// }
