@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

$font_site: "Open Sans", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
$font_title: "Noto Serif", "Times", "Times New Roman", "Georgia", "Garamond", serif;


@mixin type-font {
	font-family: $font_site;
}

@mixin type-font-medium {
	font-weight: 600;
}

@mixin type-font-heavy {
	font-weight: 700;
}

@mixin type-font-extra-heavy {
	font-weight: 800;
}

@mixin type-font-title {
	font-family: $font_title;
}

